<form class="modal-content animate login-container" id="form">
    <span onclick="document.getElementById('ch').style.display='none'" class="close" title="Close Modal">&times;</span>
    <div class="login col-10 col-xl-10">


        <h2 class="login-header">Order Summary</h2>
        
        <div class="sumBox">
            
        </div>
        <p><input type="submit" value="Checkout"></p>
    </div>
</form>
