<div class="food col col-10 col-sm-10">
    <h2>
        <%= obj.name %>
    </h2>
</div>
<div class="qt col col-2 col-sm-2">
    <h2>x
        <%= obj.quantity %>
    </h2>
</div>
<div class="food col col-10 col-sm-10">
    <% if(obj.note !== "") { %>
        <h6>
            <%= obj.note %>
        </h6>
        <% } %>
</div>
<div class="qt col col-2 col-sm-2">
    <h2 id=""></h2>
</div>
