


<%- include("partials/K_header") -%>

<body class ="container">
<div class="container-fluid logo col-cs-12 col-sm-12 col-lg-12"> BLT     

<button onclick="document.getElementById('lg').style.display='block'" class="button" >Login</button>
</div>
<div class="Listbar"> Number of order N</div>
<div id="lg" class="modal">
    
<%- include("partials/login") -%>

      </div>


</div>
</body>



<%- include("partials/footer") -%>