<%- include("partials/K_header") -%>

    <body class="container">
        <div class="row container-fluid">
            <div class="logo col-10 col-xl-10"> <h1 id="logoKitchen">BLT</h1></div>
            <% if(isLoggedIn){ %>
                <div class=" logo col-2 col-xl-2">
                    <button onclick="logOut()" class="button">Logout</button>
                </div>
                <h6 style="letter-spacing: normal; color: white;">Hello, <%= name %></h6>
                <% } else { %>
                    <div class=" logo col-2 col-xl-2">
                        <button onclick="document.getElementById('lg').style.display='block'" class="button">Login</button>
                    </div>
                    <% } %>
            </div>
        </div>
        
            

        <div class="Listbar"> Number of order N</div>
        <div id="lg" class="modal">
            <%- include("partials/login") -%>
        </div>


        </div>

    <%- include("partials/footer") -%>

        <script>
            function logOut() {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/logout");
                xhr.setRequestHeader("Accept", "application/json");
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.onload = function() {
                    var response = JSON.parse(xhr.response);
                    if (response["status"] === "success") {
                        window.location.replace("/kitchen");
                    } else {
                        alert("epic fail")
                    }
                };
                xhr.send();
            }
        </script>