


<%- include("partials/K_header") -%>

<body class ="container">
<div class="container-fluid logo col-cs-12 col-sm-12 col-lg-12"> BLT     

<button onclick="document.getElementById('lg').style.display='block'" class="button" >Login</button>
</div>
<div class="Listbar"> Number of order N</div>
<div id="lg" class="modal">
    <form class="modal-content animate login-container form" >
    <span onclick="document.getElementById('lg').style.display='none'" class="close" title="Close Modal">&times;</span>
    <div class="login col-xs-12 col-sm-6 col-lg-4">
    
        
        <h2 class="login-header">Log in</h2>
      
        
          <p><input id="Username" type="Username" placeholder="Username" required></p>
          <p><input id="Password" type="Password" placeholder="Password" required></p>
          <p><input type="submit" value="Log in" onclick="ChefLogin()" ></p>
    </form>
      </div>


</div>
</body>



<%- include("partials/footer") -%>