<%- include("partials/header") -%>
<body class='container'>
    <!--content-->
    <div style="margin: 0%;" class="container-fluid row">
        <div class="col">
            <h1 id="logo">BLT</h1>
        </div>
        <div class="col">
            <form>
                <label id="number">Table no.</label>
                <select name="tableNo" id="sel-number">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
            </select>
            </form>
        </div>
    </div>
    <!--modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" name="Fname" id="modLabel">Food name</h2>
                </div>
                <div class="modal-body">
                    <form>
                        <div>
                            <label for="recipient-name" name="Fdesc" class="col-form-label">Description:</label>
                            <h3 id="foodDescript"></h3>
                        </div>
                        <div class="form-group">
                            <label for="message-text" name="Freq" class="col-form-label">Special request:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>

                    <h2 id="foodQt"><button id="sub" onclick="substract()" class="order-qt-sub">-</button>
                        <p name="Fqt" style="display: inline;">0</p><button id="add" onclick="addition()" class="order-qt-add">+</button></h2>


                </div>
                <div class="modal-footer">
                    <button id="closeMod" onclick="closeMod()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="submitMod" onclick="submit()" type="button" class="btn btn-primary">Add to order</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="menu" class="col col-12 col-xl-6">
            <nav class="navbar navbar-expand navbar-light ">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#Appetizer">Appetizer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#MainDish">Main dish</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Dessert">Dessert</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Drink">Drink</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <form class="form-inline" id="submission-form">
                <input class="search" type="search" id="searchBar" onkeyup="searchFood()" placeholder="Search for name">
                <button id="submit" type="submit" class="btn">Submit your order</button>
            </form>
            <div class="scroll" id="foodColumn">
                <section id="Appetizer">
                    <h2>Appetizer</h2>
                    <div onclick="showModal(this.id)" id="caesar" class="row mod" role="button" data-toggle="modal" data-target="#exampleModal">
                        <div class="food col">
                            <h2>Caesar Salad</h2>
                        </div>
                        <div class="price col">
                            <h2 value="129">129฿</h2>
                        </div>
                        <div class="row">
                            <div class="descript col">
                                <h5>A green salad of romaine lettuce and croutons dressed with caesar dressing</h5>
                            </div>
                        </div>

                    </div>
                    <div onclick="showModal(this.id)" value="99" id="nugget" class="row mod" role="button" data-toggle="modal" data-target="#exampleModal">
                        <div class="food col">
                            <h2>Chicken nugget</h2>
                        </div>
                        <div class="price col">
                            <h2>99฿</h2>
                        </div>
                        <div class="row">
                            <div class="descript col">
                                <h5>It's finger licking good!</h5>
                            </div>
                        </div>
                    </div>
                    <div onclick="showModal(this.id)" value="79" id="roll" class="row mod" role="button" data-toggle="modal" data-target="#exampleModal">
                        <div class="food col">
                            <h2>California roll</h2>
                        </div>
                        <div class="price col">
                            <h2>79฿</h2>
                        </div>
                        <div class="row">
                            <div class="descript col">
                                <h5>A sushi roll with apple...weird right?</h5>
                            </div>
                        </div>
                    </div>
                    <div onclick="showModal(this.id)" value="179" id="chip" class="row mod" role="button" data-toggle="modal" data-target="#exampleModal">
                        <div class="food col">
                            <h2>Fish 'n chip</h2>
                        </div>
                        <div class="price col">
                            <h2>179฿</h2>
                        </div>
                        <div class="row">
                            <div class="descript col">
                                <h5>Deep fried fish with french fries</h5>
                            </div>
                        </div>
                    </div>

                </section>
                <section id="MainDish">
                    <h2>Main Dish</h2>
                    <div onclick="showModal(this.id)" value="199" id="blt" class="row mod" role="button" data-toggle="modal" data-target="#exampleModal">
                        <div class="food col">
                            <h2>BLT</h2>
                        </div>
                        <div class="price col">
                            <h2>199฿</h2>
                        </div>
                        <div class="row">
                            <div class="descript col">
                                <h5>Bacon Lettuce Tomatoes sandwich. Our signature!</h5>
                            </div>
                        </div>
                    </div>
                    <div onclick="showModal(this.id)" value="299" id="pizza" class="row mod" role="button" data-toggle="modal" data-target="#exampleModal">
                        <div class="food col">
                            <h2>Pizza</h2>
                        </div>
                        <div class="price col">
                            <h2>299฿</h2>
                        </div>
                        <div class="row">
                            <div class="descript col">
                                <h5>With pineapple!</h5>
                            </div>
                        </div>

                    </div>
                    <div onclick="showModal(this.id)" value="239" id="porkchop" class="row mod" role="button" data-toggle="modal" data-target="#exampleModal">
                        <div class="food col">
                            <h2>Porkchop</h2>
                        </div>
                        <div class="price col">
                            <h2>239฿</h2>
                        </div>

                        <div class="row">
                            <div class="descript col">
                                <h5>Served with mashed potatoes</h5>
                            </div>
                        </div>

                    </div>
                    <div onclick="showModal(this.id)" value="229" id="spaghetti" class="row mod" role="button" data-toggle="modal" data-target="#exampleModal">
                        <div class="food col">
                            <h2>Carbonara</h2>
                        </div>
                        <div class="price col">
                            <h2>229฿</h2>
                        </div>
                        <div class="row">
                            <div class="descript col">
                                <h5>Creamy sauce with our homemade pasta</h5>
                            </div>
                        </div>

                    </div>
                </section>
                <section id="Dessert">
                    <h2>Dessert</h2>
                    <div onclick="showModal(this.id)" value="139" id="tiramisu" class="row mod" role="button" data-toggle="modal" data-target="#exampleModal">
                        <div class="food col">
                            <h2>Tiramisu</h2>
                        </div>
                        <div class="price col">
                            <h2>139฿</h2>
                        </div>
                        <div class="row">
                            <div class="descript col">
                                <h5>Japanese coffee cakes, good for morning</h5>
                            </div>
                        </div>

                    </div>
                    <div onclick="showModal(this.id)" value="129" id="cheeseCake" class="row mod" role="button" data-toggle="modal" data-target="#exampleModal">
                        <div class="food col">
                            <h2>Cheesecake</h2>
                        </div>
                        <div class="price col">
                            <h2>129฿</h2>
                        </div>
                        <div class="row">
                            <div class="descript col">
                                <h5>NY style!</h5>
                            </div>
                        </div>

                    </div>
                    <div onclick="showModal(this.id)" value="199" id="toast" class="row mod" role="button" data-toggle="modal" data-target="#exampleModal">
                        <div class="food col">
                            <h2>Honey toast</h2>
                        </div>
                        <div class="price col">
                            <h2>199฿</h2>
                        </div>
                        <div class="row">
                            <div class="descript col">
                                <h5>A Toast with ice cream on top</h5>
                            </div>
                        </div>

                </section>
                <section id="Drink">
                    <h2>Drink</h2>
                    <div onclick="showModal(this.id)" value="69" id="coffee" class="row mod" role="button" data-toggle="modal" data-target="#exampleModal">
                        <div class="food col">
                            <h2>Hot Espresso</h2>
                        </div>
                        <div class="price col">
                            <h2>69฿</h2>
                        </div>
                        <div class="row">
                            <div class="descript col">
                                <h5>Wake up</h5>
                            </div>
                        </div>

                    </div>
                    <div onclick="showModal(this.id)" value="29" id="coke" class="row mod" role="button" data-toggle="modal" data-target="#exampleModal">
                        <div class="food col">
                            <h2>Coke</h2>
                        </div>
                        <div class="price col">
                            <h2>29฿</h2>
                        </div>
                        <div class="row">
                            <div class="descript col">
                                <h5>Sign of good taste</h5>
                            </div>
                        </div>
                    </div>
                    <div onclick="showModal(this.id)" value="59" id="soda" class="row mod" role="button" data-toggle="modal" data-target="#exampleModal" ">
                        <div class ="food col ">
                            <h2>Lemon soda</h2>
                        </div>
                        <div class ="price col ">
                            <h2>59฿</h2>
                        </div>
                        <div class="row ">
                            <div class="descript col ">
                                <h5>You can feel the incoming summer</h5>
                            </div>   
                        </div>
                    </div>
                    <div onclick="showModal(this.id)" value="19" id = "water " class = "row mod " role="button" data-toggle="modal " data-target="#exampleModal "">
                        <div class="food col">
                            <h2>Water</h2>
                        </div>
                        <div class="price col">
                            <h2>19฿</h2>
                        </div>
                        <div class="row">
                            <div class="descript col">
                                <h5>A bottle of water</h5>
                            </div>
                        </div>
                    </div>
                </section>
                </div>
            </div>
            <div id="order" class="col col-12 col-xl-6">
                <div class="orderTitle">
                    <h1>Orderlist</h1>
                </div>
                <div class="scroll">
                    <div id="orderRow" class="row">

                    </div>
                    <% orderList.forEach(function(obj){ %>
                        <%- include("partials/orderList", {curr: obj}) -%>
                            <% }); %>

                </div>
            <button id="checkOut" class="btn" onclick="document.getElementById('ch').style.display='block';addTotal();">Checkout</button>
        </div>
    </div>
    <div id="ch" class="modal">
        <%- include("partials/checkout", {curr:orderList}) -%>
    </div>

<%- include("partials/footer") -%>